
.card{
    width: 30%;
    /* box-shadow:20px 20px 50px rgb(216, 216, 216);   */
    position: fixed;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.card-title{
    text-align: center;
    color: #06f;
  font-weight: 800;
    
}

h6{
    text-align: center;
    color: rgb(179, 188, 192);
     margin-bottom: 5%;
}


input.form-control {
    margin-bottom: 4%;
}
.btn{
    font-weight: 600;
    background-color: #06f;
}

.form-control{
    background-color: rgb(255, 255, 255);
}